# logs
logs
*.log
npm-debug.log*

# runtime envs
.env
.env.local
.env.*.local

# dependency directories
node_modules/
jspm_packages/

# build directories
dist/
tmp/
out/
.vercel
*~
package-lock.json
package-lock.json
